
body{
    background-color: aliceblue;
}

img{
    width: 150px;
    height: 150px;
}

.flex{
    max-width: 1000px;
    padding: 10px;
    border: 10px solid black;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.item{
    background-color: aqua;
    border: 1px solid black;
    /*margin: auto;*/
    /*outline: 10px;*/
}