
body{
    background-color: aliceblue;
}

img{
    width: 150px;
    height: 150px;
}

header{
    display: flex;
    background-color: goldenrod;
    color: purple;
    justify-content: space-around;
}

.flex{
    max-width: 1000px;
    padding: 10px;
    border: 10px solid black;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.item{
    width: 150px;
    height: 150px;
    background-image: url("imagens/pokeball.png");
    background-size: 150px;
    background-color: #fff;
    border: 1px solid black;
    /*margin: auto;*/
    /*outline: 10px;*/
}

.item:hover{
    background-color: #ccc;
}

.secreta{
    opacity: 0;;
}